<div class="flex flex-column">
  <img src="images/logo.png" alt="Rss Raven" title="Rss Raven" class="h-7rem w-7rem p-1 border-round-lg unselectable mx-auto" rssrLogoAutoContrast />
  <h3 class="text-center">Rss Raven</h3>
  <h3 class="base-text pt-content pl-content pb-0">{{ ('BUILD' | signalTranslate)() }}</h3>
  <div class="rssr-list mb-0">
    <div class="rssr-list-item content-padding">{{ build }}</div>
  </div>
  <h3 class="base-text pt-content pl-content pb-0">{{ ('BUILD_DATE' | signalTranslate)() }}</h3>
  <div class="rssr-list mb-0">
    <div class="rssr-list-item content-padding">{{ buildDate }}</div>
  </div>
  <h3 class="base-text pt-content pl-content pb-0">{{ ('APP_VERSION' | signalTranslate)() }}</h3>
  <div class="rssr-list mb-0">
    <div class="rssr-list-item content-padding">{{ appVersion }}</div>
  </div>
  <h3 class="base-text pt-content pl-content pb-0">{{ ('ENVIRONMENT' | signalTranslate)() }}</h3>
  <div class="rssr-list mb-0">
    <div class="rssr-list-item content-padding">{{ environmentType }}</div>
  </div>
  <h3 class="base-text pt-content pl-content pb-0">{{ ('REPOSITORY' | signalTranslate)() }}</h3>
  <div class="rssr-list">
    <div class="rssr-list-item content-padding">
      <a href="https://github.com/adamcsk1/rssr" target="_blank">{{ ('GITHUB' | signalTranslate)() }}</a>
    </div>
  </div>
</div>
